<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header') %> 


    <div class="container">
        <h1 bg-primary >Hello-Bootstrap</h1>

    </div>


    <%- include('partials/footer') %> 

